USE [master]
GO
/****** Object:  Database [java]    Script Date: 11/11/2021 12:22:11 SA ******/
CREATE DATABASE [java]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'java', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\java.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'java_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\java_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [java].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [java]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 11/11/2021 12:22:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[course]    Script Date: 11/11/2021 12:22:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mhp] [nvarchar](50) NOT NULL,
	[tenhp] [nvarchar](50) NOT NULL,
	[tinchi] [int] NOT NULL,
 CONSTRAINT [PK_course] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[score]    Script Date: 11/11/2021 12:22:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[score](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sinhvien_id] [int] NOT NULL,
	[monhoc_id] [int] NOT NULL,
	[namhoc] [nvarchar](50) NOT NULL,
	[hocky] [nvarchar](50) NOT NULL,
	[diem] [float] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[student]    Script Date: 11/11/2021 12:22:11 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[student](
	[mssv] [nvarchar](50) NOT NULL,
	[ten] [nvarchar](15) NULL,
	[khoa] [int] NULL,
	[nganh] [nvarchar](150) NULL,
	[lop] [varchar](15) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ngaySinh] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[score]  WITH CHECK ADD  CONSTRAINT [FK_score_course] FOREIGN KEY([monhoc_id])
REFERENCES [dbo].[course] ([id])
GO
ALTER TABLE [dbo].[score] CHECK CONSTRAINT [FK_score_course]
GO
ALTER TABLE [dbo].[score]  WITH CHECK ADD  CONSTRAINT [FK_score_student] FOREIGN KEY([sinhvien_id])
REFERENCES [dbo].[student] ([id])
GO
ALTER TABLE [dbo].[score] CHECK CONSTRAINT [FK_score_student]
GO
USE [master]
GO
